/* Глобальные стили */
body {
   font-family: "Arial", sans-serif;
   background-color: #f5f5f5;
   margin: 0;
}

/* Стили для Header */
.app-header {
   background-color: #4caf50;
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 64px;
   flex-wrap: wrap; /* Убедимся, что элементы могут обернуться */
}

.app-header .logo {
   color: white;
   font-size: 1.8rem;
   font-weight: bold;
   display: flex;
   align-items: center;
}

.app-header .logo a {
   color: white;
   text-decoration: none;
   display: flex;
   align-items: center;
}

.app-header .logo svg {
   margin-right: 10px;
}

.app-header .menu {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
   max-width: 500px;
}

.menu-button {
   margin-left: 10px;
   max-width: 200px;
   width: 100%;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Легкая тень для объема */
   transition: all 0.3s ease; /* Плавный переход */
   text-align: center; /* Выравнивание текста по центру */
   display: inline-block; /* Чтобы кнопки не растягивались */
}

@media (max-width: 768px) {
   .app-header {
      padding: 0 10px;
   }

   .app-header .menu {
      justify-content: center; /* Выравниваем кнопки по центру на малых экранах */
      width: 100%;
   }

   .menu-button {
      margin: 5px 0;
   }
}

/* Стили для Footer */
.ant-layout-footer {
   background-color: #4caf50;
   color: white;
   padding: 10px 0;
   text-align: center;
   font-size: 14px;
}

.layout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.layout .ant-layout-content {
   flex: 1;
}

.layout .ant-layout-footer {
   margin-top: auto;
}

/* Для маленьких экранов (<=500px) */
@media (max-width: 500px) {
   .menu-button {
      font-size: 12px; /* уменьшение размера шрифта */
      padding: 6px 12px; /* уменьшение отступов для кнопок */
   }

   .logo svg {
      width: 20px; /* уменьшение размера логотипа */
      height: 20px;
   }

   .menu {
      display: flex;
      flex-direction: column; /* столбик для маленьких экранов */
      align-items: center;
   }

   .avatar {
      width: 30px;
      height: 30px; /* уменьшение размера аватара */
   }
}

/* Для экранов от 501px до 768px */
@media (max-width: 500px) {
   .menu {
      display: flex;
      flex-direction: row; /* столбик для маленьких экранов */
      align-items: center;
   }
   .menu-button {
      margin-left: 10px;
      max-width: 150px;
      border-radius: 5px;
      padding: 10px; /* Отступы внутри кнопки */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Легкая тень для объема */
      transition: all 0.3s ease; /* Плавный переход */
      text-align: center; /* Выравнивание текста по центру */
      display: inline-block; /* Чтобы кнопки не растягивались */
   }

   .logo svg {
      width: 25px;
      height: 25px;
   }
}

@media (max-width: 400px) {
   .menu {
      display: flex;
      flex-direction: row; /* столбик для маленьких экранов */
      align-items: center;
   }
   .menu-button {
      max-width: 130px;
      border-radius: 5px;
      padding: 10px; /* Отступы внутри кнопки */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Легкая тень для объема */
      transition: all 0.3s ease; /* Плавный переход */
      text-align: center; /* Выравнивание текста по центру */
      display: inline-block; /* Чтобы кнопки не растягивались */
   }

   .logo svg {
      width: 25px;
      height: 25px;
   }
}
